<footer class="bg-8 text-center">
  <p><span class="f0">* Thanks to <a href="https://github.com/jpgr24"> Juan Groening</a>, jgroening@yahoo.com, <a href="https://www.linkedin.com/in/juan-groening-3a0893106/">linkedin</a></span></p> 

  <p><span class="f0">Copyright (c)1999-2021: <a target="_blank" href="http://www.itwiz1.com/">ITWiz1.Com</a>. All rights reserved.</span> </p>
</footer>